.lot-details {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.machine-details {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin: 5px 0;
}
